/* ==========================================================================
   CSS Resets
   ========================================================================== */
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  vertical-align: middle;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* General Styles */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
    font-size: 100%;
    padding: 0;
    margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   Variables
   ========================================================================== */
/* ==========================================================================
   Main Body Styles
   ========================================================================== */

/* BRAND COLORS */
/*  Black  #231f20  */
/*  10% Gray  #e7e7e8  */
/*  Dark Blue #244289  */
/*  Aqua Blue  #25afea  */
/*  Yellow  #ffe746  */

/* Selection */
::selection {
  background: #9edcf8;
  /* Safari */ }

::-moz-selection {
  background: #05e5e5;
  /* Firefox */ }

* {
  transition: all .3s; }

canvas {
  width: 100%;
  display: block;
  border: 16px solid #9edcf8;
  background-image: url("../img/images/fresh_banner.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
      font-family: 'franklin_gothic_fsdemi', Helvetica, sans-serif;
  }

h1 {
  color: white;
  font-size: 1.7em;
  letter-spacing: 1px; }

h2 {
  font-weight: 700;
  
  line-height: 1.5em;
  letter-spacing: 1px;
  font-size: 1.1em; }

p {
    font-family: 'franklin_gothic_fsbook', Helvetica, sans-serif; 
    font-size: 1.1em;
    line-height: 1.5em;
    letter-spacing: .03em;
    color: #151515;
    padding-bottom: 15px;
}

a {
  line-height: 0.7em;
  color: #151515;
  text-decoration: none; }

p a:hover {
  color: #151515; 
  border-bottom: 4px solid #244289; }

p a {
  display: inline-block;
  border-bottom: 4px solid #ffe746;
}

iframe{
  margin-left: 20%;
  width: 60%;
  height: 400px;
  margin-bottom: 30px;
  margin-right: 40%;
}

hr {
  color: white;
  background-color: white;
  height: 4px;
  padding: 0;
  border: none; }

/* Statement */
.statement {
  background: white;
  color: #151515;
  padding: 100px 0 200px 0;
  margin-bottom: 0; }

.statement h1 {
    color: #151515;
    padding-bottom: 40px;
    border-bottom: 2px solid #ffe746; 
    margin-bottom: 50px;
}

.statement p {
    color: #151515;
    padding: 15px 30px; 
    line-height: 28px;
    text-align: center;
    max-width: 100%;
}

.covervid-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*container*/
.container > header {
  padding: 2.875em 1.875em 1.875em;
  position: fixed;
  z-index: 1000;
  width: 60%;
  left: 20%; }

.container > header h1 {
  font-size: 2.125em;
  line-height: 1.3;
  margin: 0;
  float: left;
  font-weight: 400; }

.container > header span {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  padding: 0 0 0.6em 0.1em; }

.container > header nav {
  float: right; }

.container > header nav a {
  display: block;
  float: left;
  position: relative;
  width: 2.5em;
  height: 2.5em;
  background: white;
  border-radius: 50%;
  color: transparent;
  margin: 0 0.1em;
  border: 4px solid white;
  text-indent: -8000px; }

.container > header nav a:after {
  content: attr(data-info);
  color: white;
  position: absolute;
  width: 600%;
  top: 120%;
  text-align: right;
  right: 0;
  opacity: 0;
  pointer-events: none; }

.container > header nav a:hover:after {
  opacity: 1; }

.container > header nav a:hover {
  background: #ffe746; }

.arrowleft {
  display: inline;
  margin: 45px 10px -10px -5px; }


/* FLYOUT MENUS */
#showLeft {
    color: #244289;
}

#showLeft.active {
    background-color: #ffe746;
}

#showRight {
    color: #244289;
}

#showRight.active {
    background-color: #ffe746;
}


.infobtn {
  top: 50%;
  width: 38px;
  right: -20px;
  float: right;
  z-index: 1004;
  position: relative; }

.infobtn button:focus {
    outline: none; }

.infobtn button {
    font-family: 'franklin_gothic_fsdemi', Helvetica, sans-serif;
    background: #ffe746;
    /*background: #ffda33;*/
    color: white;
    border: none;
    display: block;
    width: 120px;
    height: 54px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: .2em;
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }

.infobtn button:hover {
  color: #244289; }

 .infobtn button.active{
  background: #244289;
  color: white; }

.infobtn button.disabled {
  /*background: white;*/
  pointer-events: none; }

.eventinfo {
  padding: 2em 4em;
  margin: 0 auto;
  position: relative;
  height: 100%; 
  background-color: rgb(250,250,255);}

/*
.eventSpace {
  height: 100%; }
*/

.eventSpace img {
  padding-top: 50px;
}

.eventSpace a {
  color: #666666;
  font-weight: 400; }

.eventSpace h1 {
  font-size: 1.7em;
  float: left;
  display: inline-block;
  margin: 0px 0px 0 0;
  line-height: 2em; 
  color: rgb(25,30,100);
  }
  
.revlogo {
  z-index: 1004;
  display: block;
  width: 70%;
  margin: 0 auto 40px;
  border: none; }
  
.revinfo{
  float:right;
  display:inline;
  position: absolute;
  padding-left: 8px;
}

.revlogoMobile {
  display: none; }

.revphoto {
  background-image: url("../img/images/location2.png");
  background-size: cover;
  background-position: center center;
  clear: both;
  width: 600px;
  height: 300px;
  z-index: 1006;
  display: block;
  border: none;
  margin: 10px auto;}

.eventData {
  position: relative;
  max-width: 95%;
  margin: 20px auto; }

.eventData h1 {
  color: #ec414e;
}

.eventData h2 {
  text-align: center;
  font-size: 1em;
  font-weight: 350;
  color: black; 
  display:inline-block;
  position:relative;}

.eventData p {
  margin-bottom: 1em;
  text-align: left;
  font-size: 1em;
  font-weight: 350;
  color: black; 
  display:inline-block;
  position:relative;}
}

.eventData p a {
  color: rgb(25,25,25);
}

.unionmap {
  position: relative;
  top: 2%;
  right: 5px;
  -moz-transition: all 0.14s ease 0s;
  -webkit-transition: all 0.14s ease 0s;
  -o-transition: all 0.14s ease 0s; }

.unionmap:hover {
  opacity: .7;
  filter: alpha(opacity=70); }

.gradbtn {
  z-index: 1004;
  left: -102px;
  top: 50%;
  width: 38px;
  float: left;
  position: absolute; }

.gradbtn button:focus {
    outline: none; }

.gradbtn button {
    font-family: 'franklin_gothic_fsdemi', Helvetica, sans-serif;
    background: #ffe746;
    /*background: #ffda33;*/
    color: white;
    border: none;
    display: block;
    width: 120px;
    height: 54px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: .2em;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); }

.gradbtn button:hover {
  color: #3B3A56; }

.gradbtn button.active {
  background: #ec414e;
  color: white; }

.gradbtn button.disabled {
  /*background: white;*/
  pointer-events: none; }

.grad_img {
    height: 500px;
    width: 500px;
    display: block;
    margin: 0 auto;
    padding-top: 25px;
  }

.faceblock {
  float: left;
  display: inline-block;
  text-align: center;
/*   padding: 0px 0px 30px 20px; */ }

.faceblock:hover {
  transform: rotate(-1deg);
  backface-visibility: hidden;
  -webkit-transform: rotate(-1deg);
  -webkit-backface-visibility: hidden;
  -moz-transform: rotate(-1deg);
  -moz-backface-visibility: hidden;
}

.faceblock h4 {
  font-weight: 400;
  text-transform: uppercase; }

.profile_pic img {
  width: 100%;
  height: 100%;
  position: relative; }
.profile_pic {
  background-size: cover;
  background-position: center center;
  clear: both;
  width: 600px;
  height: 400px;
  z-index: 1006;
  display: block;
  border: none;
  margin: 0px auto;}
/*.profile_pic {
  position: relative;
  display: inline-block;
  width: 45%;
  margin: 10px auto 0 75px; }
/*
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
*/
  /* border: 12px solid white; */
/*
  overflow: hidden;
  float: left;
  -moz-transition: all 0.14s ease 0s;
  -webkit-transition: all 0.14s ease 0s;
  -o-transition: all 0.14s ease 0s; }
*/

.profilescroll {
  position: absolute;
  top: 0;
  bottom: 0;	
  width: 100%;
  padding: 2em 4em;
  overflow-y: scroll;
  overflow-x: hidden;
  }

::-webkit-scrollbar-track {
  background-color: #b46868; }

/* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); }

/* this will style the thumb, ignoring the track */
::-webkit-scrollbar-button {
  background-color: #7c2929; }

/* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
::-webkit-scrollbar-corner {
  background-color: black; }

/* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

/* TEXT LAYOUTS */
.centercontent {
  margin: 0px auto;
  display: block;
  top: 10%; }


.index-banner {
  width: 100%;
  margin: 0 auto;
}

.index-banner img {
  width: 100%;
  height: 100%;
  border: 16px solid #9edcf8;
}


/* slideshow */
/* ==========================================================================
   flexslider
   ========================================================================== */

#slideshow {
  width: 100%;
  margin: 0 auto 0 0; }

.logo {
  width: 60%;
  z-index: 200;
  /*margin: 0 auto 0 200px;*/
  position: absolute; }

.flexslider {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

#slideshow img {
  width: 100%; }


.flex-control-nav, .flex-direction-nav {
  display: none;
}

/* slideshow */
/* ==========================================================================
   flexslider
   ========================================================================== */

.logomain {
  display: block;
  margin: 0 auto;
  width: 400px; }

.slidetext1 {
  text-align: center;
  font-size: 1.4em;
  display: block;
  margin: 0 auto; }

.slidetext2 {
  text-align: center;
  font-size: 1.4em;
  display: block;
  margin: 0 auto;
  text-shadow: 1px 1px 3px black;
  filter: dropshadow(color=black, offx=1, offy=1); }

.slidetext3 {
  text-align: center;
  font-size: 1.4em;
  display: block;
  margin: 0 auto;
  text-shadow: 1px 1px 3px black;
  filter: dropshadow(color=black, offx=1, offy=1); }

.slidetext4 {
  text-align: center;
  font-size: 1.4em;
  display: block;
  margin: 0 auto;
  text-shadow: 1px 1px 3px black;
  filter: dropshadow(color=black, offx=1, offy=1); }

/* PHOTO GRID STYLES */
.thumbnailGrid {
    position: relative;
    background-color: #244289;
}

.photoGrid .studentBlock_fill{
  width: 33.333%;
  cursor: pointer;
  min-height: 100px;
  background-color: transparent;
}

.photoGrid {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; 
  cursor: pointer;
  list-style: none;
  position: relative;
  background-color: #302C2B;
}

.photoGrid li {
  float: left;
  height: 100%;
  /*height: 480px;*/
  width: 33.333%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.photoGrid li:hover {
  cursor: pointer;
  transition: 0.5s; }
  
.photoGrid li:hover img {
    cursor: pointer;
    opacity: 0.65;
    -moz-opacity:0.65;
}

.photoGrid a {
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  transition: all .5s;
  border: 8px solid rgba(255, 0, 0, 0);
}

.photoGrid a:hover {
    cursor: pointer;
    border: 8px solid #ffe746;
    border-color: #ffe746; }

/*
  @media (max-width: 768px) {
    .mobileColor .photo .color {
      filter: grayscale(0) !important;
      -webkit-filter: grayscale(0) !important;
      -moz-filter: grayscale(0) !important;
      filter: url("data:image/+xml;utf8,< xmlns='http://www.w3.org/2000/'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></>#grayscale") !important; }
    }
  }*/

.photoGrid li a div {
  width: 100%;
  height: 60px;
  bottom: -80px;
  position: absolute;
  display: table-cell;
  background: #ffe746;
  vertical-align: middle;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  transition: all .3s; }

.photoGrid li a:hover div {
  bottom: 0;
  cursor: pointer;
  transition: all .3s; 
}

.photoGrid li a div h3 {
  width: 100%;
  color: #244289;
  text-transform: uppercase;
  font-size: 1.6em;
  letter-spacing: .1em;
  padding-top: 10px; 
}

/*.photoGrid img {
  max-height: 100%;
  width: 100%; }*/

.photoGrid .photo {
  width: 100% !important;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; 
}

.color {
  filter: grayscale(0) !important;
  -webkit-filter: grayscale(0) !important;
  -moz-filter: grayscale(0) !important;
  }

.arrow_dn {
  margin: 16px auto;

  display: block;
  border: 0px; 
  height: 40px;}

/* PROFILE PAGES */
.biobg {
  /* margin-top: -38px; */
  background-color: rgb(255,255,255); }

bio-pic img (
    object-fit: cover;
)

.topbar {
  background-color: rgb(255,255,255);
  padding: 6px 0 0 0;
  top: 15px;
  z-index: 997;
  height: 60px;
  padding-top: 60px;
  margin-left: 15px; }
  
.topbar_archive {
  /* background-color: black; */
  padding: 55px 0;
  position: fixed;
  top: 0;
  z-index: 999;
  height: 75px;
}

.logobar_archive{
  display: block;
  margin: 0 auto;
  min-width: 150px;
  max-width: 200px;
}

.biosection {
  margin: 70px 0 60px 0; }

.bio {
  padding: 80px;
  float: left;
  max-width: 800px;
  color: #1A1A1A; }

.bio h1 {
  color: #244289;
  padding-bottom: 20px;
  font-size: 2.5em;
  font-weight: 700;
}

.bio h1 span {
  color: #231f20;
font-family: 'franklin_gothic_fsbook', Helvetica, sans-serif;

}

.bio h2 {
  color: #ec414e;
  font-size: 32px;
}
  
.bio h1 span {
  display: block;
  font-weight: 100; }

.bio ul {
  margin-bottom: 2em; }

.bio p {
  color: #1A1A1A;
  line-height: 1.5em;
  text-shadow: 0 0 10px white;
}

.logobar {
  margin: 0 auto;
  min-width: 75px; 
  max-width: 85px;
}

.logobar:hover {
  opacity: 0.5;
}

.bioleft {
    margin-top: 60px;
    min-width: 260px;
    margin-right: 25px;
}

.bio_pic img {
  width: 100%;
  height: 100%; 
  border-radius: 20px; }

.bio_pic {
  display: block;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden; }

.website_btn {
    height: 50px;
    width: 300px;
    display: block;
    margin: 1em auto;
    text-align: center;
    border-radius: 10px;
    padding: 12px 10px 10px 10px;
    background: #ffe746 13px 12px;
    font-family: 'franklin_gothic_fsdemi', Helvetica, sans-serif;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.website_btn a {
    color: #244289;
    line-height: 1.75em;
    text-decoration: none;
    letter-spacing: .2em;
}

.website_btn:hover {
    background: #e7e7e8;
}

p.one-liners {
    color: #244289;
    font-size: 1.2em;
    line-height: 1.8em;
    padding-top: 35px;
    text-align: left;
    font-family: 'franklin_gothic_fsbook_italic', Helvetica, sans-serif; 
}

.artwork {
  padding: 25px 0px;
  float: left;
  width: 100%;
  max-width: 800px; }

/* FOOTER STYLES */

.archive-link {
  font-weight: bold;
}

.footerBand {
  background-color: white;
  margin: 0 !important;
  padding: 0;
}

.footerBand p {
  font-size: 14px;
  color: #302c2b; }

.footerBand p a {
  color: blue; 
  text-decoration: none;
}

.footerBand p a:hover {
  color: black;
}

.footerBand p a:active {
  color: black;
}

.footer {
    background: #e7e7e8;
    padding: 25px 0;
    margin-bottom: 0;
}

.footerBlurb {
  font-size: 16px;
  line-height: 150%;
  padding-top: 30px;
  color: #302c2b; }

.footer a {
  color: #ffda33:
  text-decoration: none;
}

.footer a:hover {
  color: black; }

.footer a:active {
  color: black; }

.footerLogo {
  /*padding-right: -50%;*/
  padding-top: 40px;
  padding-bottom: 40px; 
}

.footerLogo img {
  width: 200px;
}

.footerLogo img:hover {
  opacity: 0.5;
}

.footer p {
  color: black;
  font-size: 16px;
  margin-top: 10px;
  line-height: 150%;
  letter-spacing: .05em;
}

.footer p img {
  float: right;
  margin-top: -8px; }

.acordian-info {
    margin-bottom: 15px;
    display: none;
}

button.accordion {
    background-color: #ffe746;
    color: #244289;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    text-transform: uppercase;
    line-height: 1.75em;
    text-decoration: none;
    letter-spacing: .2em;
}

div.panel {
    padding: 20px;
    display: none;
    border: 5px solid #ffe746;
    background-color: white;
}

p.credits {
    font-family: 'franklin_gothic_fsdemi', Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: .6em;
    letter-spacing: .2em;
    padding-bottom: 5px;
    color: #244289;
}

.schoolLogos {
  float: left;
  margin-right: 5%;
  margin-top: 40px;
  margin-bottom: 20px; }

.schoolLogos a.icon {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
  min-height: 3em; }

.schoolLogos a img {
  width: auto; }

.sponsors {
  overflow: hidden;
  padding-bottom: 25px;
  text-align: center;
  background: black;
  text-transform: uppercase; }

.sponsors p {
    color: white;
    font-family: 'franklin_gothic_fsdemi', Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: 2px; }

.sponsors a {
  display: inline-block;
  vertical-align: middle;
  margin: 2em 1em 1em 0; }

.fogd {
  -moz-transition: all 0.14s ease 0s;
  -webkit-transition: all 0.14s ease 0s;
  -o-transition: all 0.14s ease 0s; }

.fogd:hover {
  opacity: .5;
  filter: alpha(opacity=50); }

.psugd {
  -moz-transition: all 0.14s ease 0s;
  -webkit-transition: all 0.14s ease 0s;
  -o-transition: all 0.14s ease 0s; }

.psugd:hover {
  opacity: .5;
  filter: alpha(opacity=50); }

.ad {
  -moz-transition: all 0.14s ease 0s;
  -webkit-transition: all 0.14s ease 0s;
  -o-transition: all 0.14s ease 0s; }

.ad:hover {
  opacity: .5;
  filter: alpha(opacity=50); }

.psu {
  -moz-transition: all 0.14s ease 0s;
  -webkit-transition: all 0.14s ease 0s;
  -o-transition: all 0.14s ease 0s; }

.psu:hover {
  opacity: .5;
  filter: alpha(opacity=50); }

/* Common Classes */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.clear {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.infofoot {
  display: none; }
  
/* General styles for all menus */
.cbp-spmenu {
    position: fixed;
    border: 15px solid #ffe746;
    background: rgb(255,255,255);
    font-family: 'franklin_gothic_fsdemi', Helvetica, sans-serif;
    transition: all 2px;
    box-shadow: 0 0 0 white; }

  .cbp-spmenu h2 {
    color: rgb(25,30,100); }

#cbp-spmenu-s1 {
  background: #ffe746; }


.cbp-spmenu h3 {
  font-size: 1.9em;
  padding: 30px 0 0 60px;
  margin: 0;
  font-weight: 500;
  color: black;
  }

.previous_grads {
  width: 500px;
  margin: 0 auto;
  padding-top: 25px;
}

.previous_grads p {
  /*font-family: Helvetica,sans-serif; */
  /*text-align: left;*/
  font-size: 1em;
  font-weight: 350;
  color: black; 
  display:inline-block;
  position:relative;
}
  
.archive_btn {
    width: 220px;
    color: white;
    transition: all 0.14s ease 0s;
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin: 1em;
    height: 34px;
    background: none repeat scroll 13px 12px rgb(25,30,100);
       border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-transition: all 0.14s ease 0s;
    -webkit-transition: all 0.14s ease 0s;
    -o-transition: all 0.14s ease 0s; }
}

.archive_btn a {
  text-decoration: none;
  color: white; }

.archive_btn:hover {
  background: #aaa; }

/*skillset bullets on profile pages*/
.skills {
  margin-left: 18px;
  padding-bottom: 18px;
/*   font-family: Helvetica,sans-serif; */
  font-size: 1em;
  font-weight: 110;
  font-style: none;
  color: black; 
}

/* Set all parents to full height */
html, body,
.container,
.cbp-fbscroller,
.cbp-fbscroller section {
  /*height: 100%; */
}

/* The nav is fixed on the right side  and we center it by translating it 50% 
(we don't know it's height so we can't use the negative margin trick) */
.cbp-fbscroller > nav {
  /*
  position: fixed;
  z-index: 999;
  right: 100px;
  top: 53%;
  width: 26px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  */
  display: none; }

.cbp-fbscroller > nav a {
  display: block;
  position: relative;
  z-index: 9999;
  color: transparent;
  width: 22px;
  height: 22px;
  outline: none;
  margin: 25px 10px;
  border-radius: 50%;
  border: 4px solid black;
  background: #302c2b; }

.no-touch .cbp-fbscroller > nav a:hover {
  background: rgba(255, 255, 255, 0.6); }

.cbp-fbscroller > nav a.cbp-fbcurrent {
  background: white; }

/* background-attachment does the trick */
.cbp-fbscroller section {
  position: relative;
  background-position:center center;
  background-repeat: no-repeat;
  background-size: cover; }

.no-touch .cbp-fbscroller section {
  background-attachment: fixed; }

#fbsection1 {
  border-bottom: 0px;
  pointer-events: none; }

#fbsection2 {
  background: white;
  color: white;
  padding: 15px;
  height: 100%;
  background-attachment: scroll; }

#fbsection3 {
  background: white;
  height: auto;
  background-attachment: scroll; }

/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical {
  width: 66%;
  height: 100%;
  top: 0;
  z-index: 1000; 
}

.cbp-spmenu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 1000;
  overflow: auto; }

.cbp-spmenu-horizontal h3 {
  height: 100%;
  width: 20%;
  float: left;
  text-align: center; }

/* Vertical menu that slides from the left or right */
.cbp-spmenu-left {
  left: 0;
  transform: translateX(-100%); }

.cbp-spmenu-right {
  right: 0;
  transform: translateX(100%); }

.cbp-spmenu-left.cbp-spmenu-open {
  transform: translateX(0%); }

.cbp-spmenu-right.cbp-spmenu-open {
  transform: translateX(0%); }

/* Horizontal menu that slides from the top or bottom */
.cbp-spmenu-top {
  top: -150px; }

.cbp-spmenu-bottom {
  bottom: -150px; }

.cbp-spmenu-top.cbp-spmenu-open {
  top: 0px; }

.cbp-spmenu-bottom.cbp-spmenu-open {
  bottom: 0px; }

/* Push classes applied to the body */
.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0; }

.cbp-spmenu-push-toright {
  left: 240px; }

.cbp-spmenu-push-toleft {
  left: -240px; }

/* Transitions */
.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

/* ANIMATIONS */

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@-moz-keyframes spin2 {
  from {
    -moz-transform: rotate(360deg); }
  to {
    -moz-transform: rotate(0deg); } }
@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(360deg); }
  to {
    -webkit-transform: rotate(0deg); } }
@keyframes spin2 {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }

.Animate1, .Animate2, .Animate3 {
  transition: all 100s ease !important;
  transform: rotate(0deg); }
  .Animate1:hover, .Animate2:hover, .Animate3:hover {
    transition: all 5s ease !important; 
  }

.Animate1 {
  -webkit-animation: spin 32s linear infinite;
  -moz-animation: spin 32s linear infinite;
  animation: spin 32s linear infinite; 
}

.Animate2 {
  -webkit-animation: spin2 60s linear infinite;
  -moz-animation: spin2 60s linear infinite;
  animation: spin2 60s linear infinite; 
}

.Animate3 {
  -webkit-animation: spin 48s linear infinite;
  -moz-animation: spin 48s linear infinite;
  animation: spin 48s linear infinite; 
}



/********************** MEDIA QUERIES **********************/

/* =Media query for 960 Screens - sets nested grids to 100%
-------------------------------------------------------------- */
@media only screen and (max-width:960px) {

    body {
        width: 100%;
    }
    
    .footer {
        max-width: 100%;
        padding: 30px;
    }
    
    .photoGrid li a div h3 {
        width: 98%;
        font-size: .9em;
        padding-top: 5px;
        line-height: 1.2em;
    }
    
    .photoGrid li a div {
        height: 40px;
    }

} 


/* =Media query for iPad and tablets
-------------------------------------------------------------- */
@media handheld, only screen and (max-width: 800px), only screen and (max-device-width: 768px) and (orientation:portrait){
    
    body {
        font-size: 90%;
    }
    
    h1 {
      font-size: 1.7em;
    }
    
    .statement {
        padding: 20px 0;
        margin-bottom: 0;
    }
    
    .statement p {
        padding: 0; 
        line-height: 28px;
        text-align: center;
        max-width: 100%;
    }
    
    .infobtn {
      display: none;
    }

    .infobtn button {
        display: none;
    }
    
    .cbp-spmenu {
        display: none;
    }

    img.logobar {
        margin: 40px auto 40px auto;
    }
    
    .row.topbar {
        padding: 0;
    }
    
    .bio {
        padding: 20%;
    }
    
    .row.footer.clear {
        width: 100%;
        margin: 0;
    }
    
    .footerLogo {
        margin: 0 auto;
    }
    
    .footerLogo img {
        width: 150px;
        margin: 0 auto;
    }
    
    .schoolLogos {
        margin: 0 auto;
        padding: 15px;
    }
    
    .footerLogos {
        margin: 40px auto;
        overflow: auto;
    }
    
    .acordian-info {
        display: block;
    }
    
    .previous_grads_video {
        max-width: 94%;
        height: 200px;
    }
    
    .previous_grads {
        max-width: 94%;
        padding: 10px;
    }
    
    img.revlogo {
        width: 100%;
        margin: 0 auto;
        padding: 10px 0 20px 0;
    }
    
    .eventSpace {
        max-width: 94%;
        margin: 0 auto;
    }
    
    .eventData {
        max-width: 94%;
        margin: 0 auto;
    }

}


/* =Media query for 480 Screens
-------------------------------------------------------------- */
@media screen and (max-width: 480px) {

    .bio {
        padding: 30px;
    }
    
} /* END @480px */

