$img-path: '../../img/';

// ---- COLOR ----
// sm17 brand colors
$white: #ffffff;
$black: #000000;
$red: #db202a;
$gray: #252424;

// ---- TYPOGRAPHY ----
// sm17 typography load through typekit
$font-sans-serif: 'proxima-nova', Helvetica, sans-serif;
$font-serif: 'eloquent-jf-pro', 'Bodoni', serif;
