/* Clearfix hack by Nicolas Gallagher: 
http://nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }





/* ==========================================================================
Variables
========================================================================== */

/* BRAND COLORS */
/* FALL 2017
yellow: #eceb73;
green: #008247;
pink: #f7b6b3;
blue: #1591B2;
red: #eb4439; 
*/

/* FOCO TYPE SETTINGS */
/* Kit under Tricia Leach's account */
/* FALL 2017
light | font-weight: 300;
light, italic | font-weight: 300; font-style: italic;
regular | font-weight: 400;
regular, italic | font-weight: 400; font-style: italic;
bold | font-weight: 700;
bold, italic | font-weight: 700; font-style: italic;
black | font-weight: 900;
black, italic | font-weight: 900; font-style: italic;
*/

/* #TODO remove weights from Typekit that we aren't using  */

/* ==========================================================================
Main Body Styles
========================================================================== */

::-moz-selection {
  background: #eb4439;
  /* Safari */ }
::selection {
  background: #eb4439;
  /* Safari */ }

::-moz-selection {
  background: #eb4439;
  /* Firefox */ }

* {
  -webkit-transition: all .3s;
  transition: all .3s; }

body {
  font-size: 16px;
}

canvas {
  width: 100%;
  display: block;
  border: 16px solid #9edcf8;
  background-image: url("../../img/images/fresh_banner.gif");
  background-size: cover;
  background-repeat: no-repeat; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "foco", Helvetica, sans-serif; }

h1 {
  font-size: 1.7em;
  letter-spacing: 1px; }

h2 {
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 1px;
  font-size: 1.1em; }

h3 {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 3em; }

a {
  color: #eceb73;
  text-decoration: none; }

strong {
  font-weight: bold; }

p {
  font-family: 'foco', Helvetica, sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  letter-spacing: .03em;
  color: #1591B2;
  padding-bottom: 15px; }
  p a {
    display: inline-block;
    line-height: 1.25em;
    border-bottom: 3px solid #eceb73; }
    p a:hover {
      color: #f7b6b3;
      border-color: #f7b6b3; }

iframe {
  margin-left: 20%;
  width: 60%;
  height: 400px;
  margin-bottom: 30px;
  margin-right: 40%; }

hr {
  color: white;
  background-color: white;
  height: 4px;
  padding: 0;
  border: none; }

.hero {
  background-color: #f7b6b3;
  color: white;
  /* height: 95% !important; */
  /* border-bottom: 10px solid #db202a; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

h4.fall2017--hero {
  color: white;
  font-size: 1.5em;
  text-align: left; 
  font-weight: 400; 
  letter-spacing: 1px;
  padding-bottom: 10px; 
  position: relative; 
  z-index: 1; }

h2.fall2017--hero {
  color: #1591B2;
  font-size: 2.5em;
  text-align: right; 
  font-weight: 700; }

.fall2017--hero-container {
  width: 60%; 
  max-width: 800px;}

.fall2017--hero-container svg {
  display: block;
  margin: auto; }

  .hero .sm17--hero-container {
    width: 80%;
    margin: 0 auto; }
  .hero .sm17--term {
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: .02em;
    font-style: italic;
    margin-bottom: 20%;
    text-align: center; }
    .hero .sm17--term:before {
      content: '';
      display: block;
      width: 75px;
      border-bottom: 3px solid #ffffff;
      margin: 60px auto; }
  .hero .sm17--showcase {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: .2em; }

svg .cls-1 {
  fill: #ffffff; }

svg .cls-2 {
  fill: #db202a; }


/* - - - - - - - - - - - - - - - - - - - - - - - - - FALL 2017 STYLES */

/* plant image styles */

.plant-header-right {
  position: absolute; 
  top: 0; 
  right: 0; 
  width: 43%; }

.plant-header-left {
  position: absolute; 
  bottom: 0; 
  left: 0; 
  width: 50%; }

.plant-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%; }

.plant-ind-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px; }





/* - - - - - - - - - - - - - - - - - - - - - - - - - STATEMENT */
/* This is the intro text on the index page */

.statement {
  background: #1591B2;
  color: white;
  padding: 70px 0 50px 0;
  margin-bottom: 0; }
  .statement h1 {
    color: white;
    padding-bottom: 40px;
    border-bottom: 3px solid #f7b6b3;
    margin-bottom: 30px; }
  .statement p {
    color: white;
    padding: 15px 30px;
    line-height: 28px;
    text-align: center;
    max-width: 100%; }

.covervid-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*container*/
.container > header {
  padding: 2.875em 1.875em 1.875em;
  position: fixed;
  z-index: 1000;
  width: 60%;
  left: 20%; }
  .container > header h1 {
    font-size: 2.125em;
    line-height: 1.3;
    margin: 0;
    float: left;
    font-weight: 400; }
  .container > header span {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    padding: 0 0 0.6em 0.1em; }
  .container > header nav {
    float: right; }
    .container > header nav a {
      display: block;
      float: left;
      position: relative;
      width: 2.5em;
      height: 2.5em;
      background: white;
      border-radius: 50%;
      color: transparent;
      margin: 0 0.1em;
      border: 4px solid white;
      text-indent: -8000px; }
      .container > header nav a:after {
        content: attr(data-info);
        color: white;
        position: absolute;
        width: 600%;
        top: 120%;
        text-align: right;
        right: 0;
        opacity: 0;
        pointer-events: none; }
      .container > header nav a:hover {
        background: #db202a; }
        .container > header nav a:hover:after {
          opacity: 1; }

.arrowleft {
  display: inline;
  margin: 45px 10px -10px -5px; }





/* - - - - - - - - - - - - - - - - - - - - - - - - - FLYOUT MENUS */

#showLeft {
  color: #ffffff;
  overflow: hidden;
  padding-bottom: 30px; }

#showRight {
  color: #ffffff;
  overflow: hidden;
  padding-bottom: 30px; }

.flyoutbtn button {
  color: white;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: .2em;
  border: none;
  background: transparent;
  display: block;
  width: 160px;
  height: 74px;
  cursor: pointer;
}

.infobtn {
  top: 50%;
  width: 38px;
  right: -10px;
  float: right;
  z-index: 1004;
  position: relative; }
  .infobtn button {
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg); }
    .infobtn button:before {
      content: '';
      display: block;
      width: 100%;
      height: 90%;
      border: 4px solid #ffffff;
      position: absolute;
      bottom: -40px;
      left: 0;
      z-index: 100; }
    .infobtn button:focus {
      outline: none; }
    .infobtn button.disabled {
      pointer-events: none; }

.eventinfo {
  padding: 2em 4em;
  margin: 0 auto;
  position: relative;
  height: 100%;
  background-color: #fafaff; }

.eventSpace h1 {
  font-size: 1.7em;
  float: left;
  display: inline-block;
  margin: 0px 0px 0 0;
  line-height: 2em;
  color: #191e64; }

.eventSpace img {
  padding-top: 50px; }

.eventSpace a {
  color: #666666;
  font-weight: 400; }

.revlogo {
  z-index: 1004;
  display: block;
  width: 70%;
  margin: 0 auto 40px;
  border: none; }

.revinfo {
  float: right;
  display: inline;
  position: absolute;
  padding-left: 8px; }

.revlogoMobile {
  display: none; }

.revphoto {
  background-image: url("../../img/images/location2.png");
  background-size: cover;
  background-position: center center;
  clear: both;
  width: 600px;
  height: 300px;
  z-index: 1006;
  display: block;
  border: none;
  margin: 10px auto; }

.eventData {
  position: relative;
  max-width: 95%;
  margin: 20px auto; }
  .eventData h1 {
    color: #ec414e; }
  .eventData h2 {
    text-align: center;
    font-size: 1em;
    font-weight: 350;
    color: black;
    display: inline-block;
    position: relative; }
  .eventData p {
    margin-bottom: 1em;
    text-align: left;
    font-size: 1em;
    font-weight: 350;
    color: black;
    display: inline-block;
    position: relative; }
    .eventData p a {
      color: #191919; }

.unionmap {
  position: relative;
  top: 2%;
  right: 5px;
  -webkit-transition: all 0.14s ease 0s;
  transition: all 0.14s ease 0s; }
  .unionmap:hover {
    opacity: .7; }

.gradbtn {
  z-index: 1004;
  left: -132px;
  top: 50%;
  width: 38px;
  float: left;
  position: absolute; }
  .gradbtn button {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }
    .gradbtn button:before {
      content: '';
      display: block;
      width: 100%;
      height: 90%;
      border: 4px solid #ffffff;
      position: absolute;
      bottom: -40px;
      left: 0;
      z-index: 100; }
    .gradbtn button:focus {
      outline: none; }
    .gradbtn button.disabled {
      pointer-events: none; }

.grad_img {
  height: 500px;
  width: 500px;
  display: block;
  margin: 0 auto;
  padding-top: 25px; }

.faceblock {
  float: left;
  display: inline-block;
  text-align: center; }
  .faceblock:hover {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .faceblock h4 {
    font-weight: 400;
    text-transform: uppercase; }

.profile_pic {
  background-size: cover;
  background-position: center center;
  clear: both;
  width: 600px;
  height: 400px;
  z-index: 1006;
  display: block;
  border: none;
  margin: 0px auto; }
  .profile_pic img {
    width: 100%;
    height: 100%;
    position: relative; }

.profilescroll {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 2em 4em;
  overflow-y: scroll;
  overflow-x: hidden; }

::-webkit-scrollbar-track {
  background-color: #b46868; }

/* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); }

/* this will style the thumb, ignoring the track */
::-webkit-scrollbar-button {
  background-color: #7c2929; }

/* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
::-webkit-scrollbar-corner {
  background-color: black; }

/* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
/* TEXT LAYOUTS */
.centercontent {
  margin: 0px auto;
  display: block;
  top: 10%; }

.index-banner {
  width: 100%;
  margin: 0 auto; }
  .index-banner img {
    width: 100%;
    height: 100%;
    border: 16px solid #9edcf8; }

/* slideshow */
/* ==========================================================================
flexslider
========================================================================== */
#slideshow {
  width: 100%;
  margin: 0 auto 0 0; }
  #slideshow img {
    width: 100%; }

.logo-archive {
  width: 100%;
  z-index: 200; 
  padding: 30px 150px 130px 150px; }

.flexslider {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.flex-control-nav,
.flex-direction-nav {
  display: none; }

/* slideshow */
/* ==========================================================================
flexslider
========================================================================== */
.logomain {
  display: block;
  margin: 0 auto;
  width: 400px; }

.slidetext1 {
  text-align: center;
  font-size: 1.4em;
  display: block;
  margin: 0 auto; }

.slidetext2 {
  text-align: center;
  font-size: 1.4em;
  display: block;
  margin: 0 auto;
  text-shadow: 1px 1px 3px black; }

.slidetext3 {
  text-align: center;
  font-size: 1.4em;
  display: block;
  margin: 0 auto;
  text-shadow: 1px 1px 3px black; }

.slidetext4 {
  text-align: center;
  font-size: 1.4em;
  display: block;
  margin: 0 auto;
  text-shadow: 1px 1px 3px black; }





/* PHOTO GRID STYLES */
.thumbnailGrid {
  margin: 90px;
  position: relative; }

.photoGrid {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  list-style: none;
  position: relative; }
  .photoGrid .studentBlock_fill {
    width: 33.333%;
    cursor: pointer;
    min-height: 100px;
    background-color: transparent; }
  .photoGrid li {
    float: left;
    height: 100%;
    margin: 20px;
    width: calc(33.333% - 40px); /* deducts margin x2 */
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    position: relative; }
    .photoGrid li:hover {
      cursor: pointer;
      -webkit-transition: 10ms ease;
      transition: 200ms ease; }
      .photoGrid li:hover .photo {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-filter: grayscale(100%) !important;
        filter: grayscale(100%) !important;
        opacity: 50%; }
    .photoGrid li a {
      top: 0;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      -webkit-transition: all 10ms;
      transition: all 10ms; }
      .photoGrid li a:before {
        content: '';
        display: block;
        background-color: #eb4439;
        opacity: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all 200ms ease-in;
        transition: all 200ms ease-in; }
      /* #TODO make hover states covers vary */
      /* a.photoGridLink:nth-of-type(1n):before {
        background-color: #eb4439; }
      a.photoGridLink:nth-of-type(2n):before {
        background-color: #1591B2; }
      a.photoGridLink:nth-of-type(3n):before {
        background-color: #eceb73; }
      a.photoGridLink:nth-of-type(4n):before {
        background-color: #f7b6b3; } */
      .photoGrid li a:hover {
        cursor: pointer; }
        .photoGrid li a:hover div {
          opacity: 1;
          cursor: pointer;
          -webkit-transition: all .3s;
          transition: all .3s; }
          .photoGrid li a:hover div .sm17--block-svg path {
            -webkit-animation: dash 500ms ease forwards;
            animation: dash 500ms ease forwards; }
        .photoGrid li a:hover:before {
          opacity: .6; }
      .photoGrid li a div {
        width: 100%;
        height: 100%;
        right: 0;
        opacity: 0;
        top: 50%;
        position: absolute;
        display: table-cell;
        background: transparent;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
        -webkit-transition: all .3s;
        transition: all .3s; }
        .photoGrid li a div .sm17--block-svg {
          position: absolute;
          left: 0;
          padding: 30px;
          width: 100%;
          height: 100%; }
          .photoGrid li a div .sm17--block-svg path {
            stroke: #ffffff;
            stroke-dasharray: 1920;
            stroke-dashoffset: 1920; }

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0; } }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }
        .photoGrid li a div h3 {
          width: 100%;
          height: 100%;
          color: #ffffff;
          font-weight: bold;
          font-size: 1.6em;
          letter-spacing: 1px;
          position: relative; 
          top: 45% }
  .photoGrid .photo {
    width: 100% !important;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }

@media (max-width: 768px) {
  .photoGrid li {
    width: 100%;
    margin: 0;
    padding: 10px 0; } 
  .thumbnailGrid {
    margin: 20px; } }

.color {
  -webkit-filter: grayscale(0) !important;
  filter: grayscale(0) !important; }

.arrow_dn {
  margin: 16px auto;
  display: block;
  border: 0px;
  height: 40px; }





/* - - - - - - - - - - - - - - - - - - - - - - - - - PROFILE PAGES */

/* BRAND COLORS */
/* FALL 2017
yellow: #eceb73;
green: #008247;
pink: #f7b6b3;
blue: #1591B2;
red: #eb4439; 
*/

.logo-grad {
  position: absolute;
  top: 35px;
  left: 60px;
}

.logo-grad svg {
  height: 40px;
}

.logo-grad svg path {
  fill: #f7b6b3;
}

.logo-grad svg:hover path {
  fill: #eb4439;
}

.biobg {
  background-color: white; }

.topbar_archive {
  padding: 55px 0;
  position: relative;
  z-index: 999; }

.logobar_archive {
  display: block;
  margin: 0 auto;
  min-width: 150px;
  max-width: 200px; }

.biosection {
  margin: 140px 0 0 0; 
  position: relative; }

.bio {
  padding: 80px;
  float: left;
  max-width: 800px;
  color: #1591B2; 
  font-size: 18px;
  line-height: 1.75;
  letter-spacing: .03em; }
    .bio h1 {
      color: #eb4439;
      padding-bottom: 25px;
      font-size: 3.5em;
      line-height: 1.2;}
    .bio h1 span {  
      /* not using fall 2017 */
      /* this styles the last name on bio page */ }
    .bio h2 {
      color: #eb4439;
      font-size: 1.75em; 
      padding-bottom: .5em;}
    .bio h4 {
      color: #eb4439;
      font-weight: 700;
      margin-top: .5em;  }
    .bio ul {
      padding-left: 25px;
      margin-bottom: 1.5em;
      list-style-type: circle;
      font-family: "foco", Helvetica, sans-serif;
      color: #eb4439;
      font-size: 1.1em;
      line-height: 1.5em;
      letter-spacing: .03em;}
    .bio p {
      text-shadow: 0 0 10px white; }
    .bio img {
      margin-top: 1em;
    }

.logobar {
  margin: 0 auto;
  min-width: 75px;
  max-width: 85px; }
  .logobar:hover {
    opacity: 0.5; }

.bioleft {
  margin-top: 60px;
  min-width: 260px;
  margin-right: 25px; 
  position: relative;
  z-index: 1; }

.bio_pic {
  display: block;
  width: 300px;
  margin: 0 auto;
  overflow: hidden; }
  .bio_pic img {
    width: 100%; }

.website_btn {
  width: 300px;
  display: block;
  margin: 2em auto;
  text-align: center;
  padding: 25px 15px;
  border: 6px solid #f7b6b3;
  font-family: "foco", Helvetica, sans-serif;
  cursor: pointer;
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s; }
  .website_btn a {
    color: #f7b6b3;
    line-height: 0em;
    height: 100%;
    width: 100%;
    text-decoration: none;
    letter-spacing: .2em;
    font-weight: bold;
    display: block; }
 .website_btn:hover {
    background: #f7b6b3; }
  .website_btn:hover a {
      color: #eceb73; }

p.one-liners {
  color: #244289;
  font-size: 1.2em;
  line-height: 1.8em;
  padding-top: 35px;
  text-align: left;
  font-family: "foco", Helvetica, sans-serif; }

.artwork {
  padding: 25px 0px;
  float: left;
  width: 100%;
  max-width: 800px; }

/*skillset bullets on profile pages*/
.skills {
  margin-left: 18px;
  padding-bottom: 18px;
  font-size: 1em;
  font-weight: 110;
  font-style: none;
  color: black; }





/* - - - - - - - - - - - - - - - - - - - - - - - - - FOOTER STYLES */

footer {
  position: relative; }

.archive-link {
  font-weight: bold; }

.footerBand {
  background-color: white;
  margin: 0 !important;
  padding: 0; }
  .footerBand p {
    font-size: 14px;
    color: #ffffff; }
    .footerBand p a {
      text-decoration: none; }
      .footerBand p a:hover, .footerBand p a.active {
        color: black; }

.footer {
  background: #eb4439;
  padding: 25px 0;
  margin-bottom: 0; }
  .footer p {
    color: #ffffff;
    font-size: 16px;
    margin-top: 10px;
    line-height: 150%;
    letter-spacing: .05em; }
    .footer p img {
      float: right;
      margin-top: -8px; }
  /* .footer a { #TODELETE if not used
    color: #ffffff;
    text-decoration: none; }
    .footer a:hover, .footer a.active {
      color: #db202a;
      border-color: #ffffff; } */
  .footer .eventData p {
    color: #000000; }

.footerBlurb {
  font-size: 16px;
  line-height: 150%;
  padding-top: 30px; }

.footerLogo {
  padding-top: 40px;
  padding-bottom: 40px; 
  padding-right: 90px; }

.footerLogos {
  margin-left: 40px; }

.acordian-info {
  margin-bottom: 15px;
  display: none; }

button.accordion {
  background-color: #db202a;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-transform: uppercase;
  line-height: 1.75em;
  text-decoration: none;
  letter-spacing: .2em; }

div.panel {
  padding: 20px;
  display: none;
  border: 5px solid #db202a;
  background-color: white; }

.credits-container {
  margin: 50px 0 100px 0; }

p.credits {
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: .2em;
  padding-bottom: 5px;
  color: #ffffff; }

.credits a {
  border-bottom: 0px; /* undo for style for regular links */ }

.schoolLogos {
  float: left;
  margin-right: 5%;
  margin-top: 40px;
  margin-bottom: 20px;
  max-width: 80px; }
  .schoolLogos a.icon {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    min-height: 3em; }
  .schoolLogos a img {
    width: auto; }

.sponsors {
  overflow: hidden;
  padding-bottom: 25px;
  text-align: center;
  background: black;
  text-transform: uppercase; }
  .sponsors p {
    color: white;
    font-family: "foco", Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: 2px; }
  .sponsors a {
    display: inline-block;
    vertical-align: middle;
    margin: 2em 1em 1em 0; }

.fogd,
.psugd,
.ad,
.psu,
.feckin {
  -webkit-transition: all 0.14s ease 0s;
  transition: all 0.14s ease 0s; }
  .fogd:hover,
  .psugd:hover,
  .ad:hover,
  .psu:hover,
  .feckin:hover {
    opacity: .5; }





/* - - - - - - - - - - - - - - - - - - - - - - - - - COMMON CLASSES */

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.clear {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.infofoot {
  display: none; }

/* General styles for all menus */
.cbp-spmenu {
  position: fixed;
  border: 15px solid #eb4439;
  background: white;
  font-family:"foco", Helvetica, sans-serif;
  -webkit-transition: all 2px;
  transition: all 2px;
  -webkit-box-shadow: 0 0 0 white;
  box-shadow: 0 0 0 white; }
  .cbp-spmenu h2 {
    color: #191e64; }
  .cbp-spmenu h3 {
    font-size: 1.9em;
    padding: 30px 0 0 60px;
    margin: 0;
    font-weight: 500;
    color: black; }

#cbp-spmenu-s1 {
  background: #eb4439; }

.previous_grads {
  width: 500px;
  margin: 0 auto;
  padding-top: 25px; }
  .previous_grads p {
    font-size: 1em;
    font-weight: 350;
    color: black;
    display: inline-block;
    position: relative; }

.archive_btn {
  width: 220px;
  color: white;
  -webkit-transition: all 0.14s ease 0s;
  transition: all 0.14s ease 0s;
  text-align: center;
  display: inline-block;
  padding: 10px;
  margin: 1em;
  height: 34px;
  background: none repeat scroll 13px 12px #191e64;
  border-radius: 4px;
  transition: all 0.14s ease 0s; }
  .archive_btn a {
    text-decoration: none;
    color: white; }
  .archive_btn:hover {
    background: #aaa; }


/* Set all parents to full height */
/* The nav is fixed on the right side  and we center it by translating it 50%
(we don't know it's height so we can't use the negative margin trick) */
.cbp-fbscroller > nav {
  display: none; }
  .cbp-fbscroller > nav a {
    display: block;
    position: relative;
    z-index: 9999;
    color: transparent;
    width: 22px;
    height: 22px;
    outline: none;
    margin: 25px 10px;
    border-radius: 50%;
    border: 4px solid black;
    background: #302c2b; }

.no-touch .cbp-fbscroller > nav a:hover {
  background: rgba(255, 255, 255, 0.6); }

.cbp-fbscroller > nav a.cbp-fbcurrent {
  background: white; }

/* background-attachment does the trick */
.cbp-fbscroller section {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.no-touch .cbp-fbscroller section {
  background-attachment: fixed; }

#fbsection1 {
  border-bottom: 0px;
  pointer-events: none; }

#fbsection2 {
  background: white;
  color: white;
  padding: 15px;
  height: 100%;
  background-attachment: scroll; }

#fbsection3 {
  background: white;
  height: auto;
  background-attachment: scroll; }

/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical {
  width: 66%;
  height: 100%;
  top: 0;
  z-index: 1000; }

.cbp-spmenu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 1000;
  overflow: auto; }
  .cbp-spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left;
    text-align: center; }

/* Vertical menu that slides from the left or right */
.cbp-spmenu-left {
  left: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }

.cbp-spmenu-right {
  right: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }

.cbp-spmenu-left.cbp-spmenu-open {
  -webkit-transform: translateX(0%);
  transform: translateX(0%); }

.cbp-spmenu-right.cbp-spmenu-open {
  -webkit-transform: translateX(0%);
  transform: translateX(0%); }

/* Horizontal menu that slides from the top or bottom */
.cbp-spmenu-top {
  top: -150px; }
  .cbp-spmenu-top.cbp-spmenu-open {
    top: 0px; }

.cbp-spmenu-bottom {
  bottom: -150px; }
  .cbp-spmenu-bottom.cbp-spmenu-open {
    bottom: 0px; }

/* Push classes applied to the body */
.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0; }

.cbp-spmenu-push-toright {
  left: 240px; }

.cbp-spmenu-push-toleft {
  left: -240px; }





/* - - - - - - - - - - - - - - - - - - - - - - - - - TRANSITIONS */

.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.Animate1,
.Animate2,
.Animate3 {
  -webkit-transition: all 100s ease !important;
  transition: all 100s ease !important;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg); }
  .Animate1:hover,
  .Animate2:hover,
  .Animate3:hover {
    -webkit-transition: all 5s ease !important;
    transition: all 5s ease !important; }

.Animate1 {
  -webkit-animation: spin 32s linear infinite;
  animation: spin 32s linear infinite; }

.Animate2 {
  -webkit-animation: spin2 60s linear infinite;
  animation: spin2 60s linear infinite; }

.Animate3 {
  -webkit-animation: spin 48s linear infinite;
  animation: spin 48s linear infinite; }





/* - - - - - - - - - - - - - - - - - - - - - - - - - ANIMATIONS */

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes spin2 {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }





/********************** MEDIA QUERIES **********************/
/* =Media query for 960 Screens - sets nested grids to 100%
-------------------------------------------------------------- */
@media only screen and (max-width: 960px) {
  body {
    width: 100%; }
  .footer {
    max-width: 100%;
    padding: 30px; }
  .photoGrid li a div h3 {
    width: 98%;
    font-size: .9em;
    padding-top: 5px;
    line-height: 1.2em; } }

/* =Media query for iPad and tablets
-------------------------------------------------------------- */
@media handheld, only screen and (max-width: 800px), only screen and (max-device-width: 768px) and (orientation: portrait) {
  body {
    font-size: 90%; }
  h1 {
    font-size: 1.7em; }
  .statement {
    padding: 20px 0;
    margin-bottom: 0; }
    .statement p {
      padding: 0;
      line-height: 28px;
      text-align: center;
      max-width: 100%; }
  .infobtn {
    display: none; }
    .infobtn button {
      display: none; }
  .cbp-spmenu {
    display: none; }
  img .logobar {
    margin: 40px auto 40px auto; }
  img.revlogo {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0 20px 0; }
  .bio {
    padding: 20%; }
  .row.topbar {
    padding: 0; }
  .row.footer.clear {
    width: 100%;
    margin: 0; }
  .footerLogo {
    margin: 0 auto; }
    .footerLogo img {
      width: 150px;
      margin: 0 auto; }
  .schoolLogos {
    margin: 0 auto;
    padding: 15px; }
  .footerLogos {
    margin: 40px auto;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .acordian-info {
    display: block; }
  .previous_grads_video {
    max-width: 94%;
    height: 200px; }
  .previous_grads {
    max-width: 94%;
    padding: 10px; }
  .eventSpace {
    max-width: 94%;
    margin: 0 auto; }
  .eventData {
    max-width: 94%;
    margin: 0 auto; } }

/* =Media query for 480 Screens
-------------------------------------------------------------- */
@media screen and (max-width: 480px) {
  .bio {
    padding: 30px; }
  .hero {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 20%;
    padding-bottom: 20%;
    height: auto !important; } }

/* END @480px */