# Sass
.sass-cache

# repo specific
node_modules/*
dist/*
!dist/.*

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# phpstorm
.idea/*

# Fall 2017 Dropbox (delete after complete)
reference/
._*
students/fall16/
students/sm17/
students/sp17/
.dropbox
DREW*

