$img-path: '../../img/';

// ---- COLOR ----
// sm17 brand colors
$yellow: #eceb73;
$green: #008247;
$pink: #f7b6b3;
$blue: #4390ba;
$red: #eb4439;

// ---- TYPOGRAPHY ----
// sm17 typography load through typekit
$font-sans-serif: 'foco', Helvetica, sans-serif;
